{{ define "main" }}
  <article>
    {{- if .IsHome }}
    {{- else }}<h1>{{ .Title }}</h1>
    {{- end }}
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item" data-gtm-post-name="{{ .Page.File.ContentBaseName }}" data-gtm-post-id="{{ .Page.File.UniqueID }}" data-gtm-post-date='{{  .Page.Date.Format "2006-01-02" }}'>
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            <span class="posts-list-item-description-content">
              {{ .Description }} 
              <a class="posts-list-item-description-continue-reading" href="{{ .Permalink }}">
                {{ partial "icon.html" (dict "ctx" $ "name" "chevrons-right") }}
                Continue reading...</a>
            </span>
            <div class="posts-list-item-description-meta">
              {{- with .Params.tags }}
              <div class="post-list-item-tags-list" data-gtm-tags='{{- range . -}}{{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}{{ .Title }}~{{- end }}{{- end }}'>
                {{- range . -}}
                  {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                    <a class="tag" href="{{ .Permalink }}">{{ partial "icon.html" (dict "ctx" $ "name" "tag") }} {{ .Title }}</a>
                  {{- end }}
                {{- end }}
              </div>
              {{- end }}
              <span class="reading-time">
                {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
                {{ .ReadingTime }} min read
              </span>
            </div>
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
