a.posts-list-item-title {
    font-size: 1.2em;
}

.posts-list-item-description-continue-reading {
    display: inline-block;
    font-style: italic;
    font-size: 0.9em;
}

.posts-list-item-description-meta .reading-time {
    font-size: 0.8em;
}

.post-list-item-tags-list {
    display: inline-block;
}

.highlight>pre {
    border-left: 0px !important;
}

div.posts-list-item-description-meta {
    margin-top: 1em;
}

a.tag {
    color: $lightest-color;
}

.app-header-avatar {
    border-width: 0;
  }

.page-item {
  display: inline-block;
  .page-link {
    display: block;
    padding: 0.285em 0.8em;
  }

  &.active {
    .page-link {
      color: $lightest-color;
      border-radius: 2em;
      background: $darkest-color;
    }
  }
}

.posts-list-item {
    list-style: none;
    padding: 1em 0;
    font-size: 1.25em;
}

html {
    line-height: 1.5;
  }

